.message {
  display: flex;
  align-items: flex-start;
  color: #674099;
}

.message img {
  width: 40px;
  border-radius: 4px;
  margin-right: 14px;
}

.message .message-content {
  flex-grow: 1;
}

